section#statuten
    .max-content
        h1 Statuten
        
        p Statuten des Vereins Österreichische Gesellschaft für Internistische Angiologie/Österreichische Gesellschaft für Innere Medizin und Angiologie
        
        p Zur besseren Lesbarkeit wird auf die gendergerechte Schreibweise verzichtet. Dies soll jedoch keine Geschlechterdiskriminierung oder Verletzung des Gleichheitsgrundsatzes zum Ausdruck bringen.
        
        p § 1: Name, Sitz und Tätigkeitsbereich
        
        p 1. Der Verein führt den Namen „Österreichische Gesellschaft für Internistische Angiologie / Österreichische Gesellschaft für Innere Medizin und Angiologie

        p 2. Er hat seinen Sitz in Wien und erstreckt seine Tätigkeit auf das ganze Bundesgebiet. Das Vereinsjahr folgt dem Kalenderjahr und beginnt somit am 01. Jänner jedes Jahres und endet am 31. Dezember jedes Jahres.

        p 3. Die Errichtung von Zweigvereinen ist nicht beabsichtigt.

        p § 2: Zweck

        p 1. Die Tätigkeit des Vereines ist nicht auf Gewinn ausgerichtet.

        p 2. Zweck des Vereines ist<br>
            | a) Beschlussfassung über den Voranschlag;<br>
            | b) die Durchführung von Fortbildung auf dem Gebiet der Gefäßmedizin, ferner<br>
            | c) die Erstellung von Richtlinien für Diagnostik und Therapie von Gefäßerkrankungen.

        p 3. Des Weiteren vertritt der Verein die Interessen seiner Mitglieder gegenüber Dritten, wie beispielsweise Krankenanstaltenträger, Versicherungen, Behörden und Kammern.

        #statuten-download-button 
            a.download-button(href="/oegia_statuten.pdf" target="_blank") Download<br>Statuten
            p Stand 01.01.2024 