section#unterstutzer
    h1 Mit freundlicher<br>Unterstützung von
    #unterstutzer-block 
        a#bd-link(href="https://bd.com/de-de" target="_blank")
        a#philips-link(href="https://philips.at" target="_blank")
        a#viatris-link(href="https://www.viatris.at/" target="_blank")
        //- a#abbott-link(href="https://www.freestyle.abbott/at/de/index.html" target="_blank")
        //- a#amp-link(href="https://www.amp-med.net/" target="_blank")
        //- a#bayer-link(href="https://www.bayer.at/" target="_blank")
        //- a#biotronik-link(href="https://www.biotronik.com/de-at" target="_blank")
        //- a#msd-link(href="http://www.msd.at/" target="_blank")
        
