.zukunftiges-seminar-entry
    .zukunftiges-webinar-picture
        block picture
    .zukunftiges-webinar-details
        h2 
            block title
        p.description
            block description
