/*====================================================================
RESET
====================================================================*/
@import '../stylereset/reset.styl'

/*====================================================================
Global Styles
====================================================================*/
@import '../globalstyles/styles.styl'

/*====================================================================
Including other components
====================================================================*/
@import '../allmodules/allstyles.styl'
@import 'components/main.styl'


/*====================================================================
Specific Styles
====================================================================*/
#banner-image
    background-image: url("/img/hero-image1.jpg")

#image-credits:after
    content: ""
