extends vergangenes-webinar-base.pug
include video-mixin.pug

block picture 
    img(src="/img/hyperlipidemia.jpg" alt="Webinar Banner")
block title
    | Angiologie im Fokus:<br> pAVK und LDL - die stille Gefahr
block time
    | 23. Juni 2025
//- block flyer 
//-     a.download-button(href="/vascular_medicine_update.pdf" target="_blank") Download Flyer 
//- block videos
//-     ul
//-         +video("Gesamtes Webinar", "", "", "/video/full-webinar-jun-6-24.mp4")