section#vergangen
    h2 Vergangene Webinare
    #vergangene-webinare.webinare
        //- p.no-content Noch keine Einträge vorhanden.
    
        include vergangenes-webinar1.pug
        //- include vergangenes-webinar2.pug
