
.vergangenes-webinar-entry
    text-align: left
    padding-bottom 30px
    padding-top 30px
    border-bottom solid 2px cd-foreground
    display flex
    flex-direction: row-reverse
    justify-content: flex-end

    .vergangenes-webinar-details
        width 50%
        padding-right 20px
        box-sizing: border-box
    .vergangenes-webinar-picture
        flex-shrink: 4
        img
            max-width 100%
    .vergangenes-webinar-videos
        flex-shrink: 4
        ul
            width 100%
        li
            padding 7px
    h2
        font-size: 14pt
        font-weight: bold
        text-transform: uppercase
        margin-bottom 30px
        letter-spacing: 1.5pt

    .warning
        color cd-flash

@media screen and (max-width: 650px)

    .vergangenes-webinar-entry
        flex-direction: column
        justify-content: flex-end

        .vergangenes-webinar-details
            padding-top 20px
            width 100%
            padding-right 0
        .vergangenes-webinar-picture
            width 100%
            flex-shrink: 0
            img
                max-width 100%
