.vergangenes-webinar-entry
    .vergangenes-webinar-picture
        block picture
    .vergangenes-webinar-details
        p.time
            block time
        h2 
            block title
    .flyer
        block flyer
    h3 Aufzeichnungen
    .vergangenes-webinar-videos
        block videos
