
.vergangenes-webinar-entry
    text-align: left
    padding 10px
    background-color cd-darkbackground
    // border-bottom solid 2px cd-foreground
    margin-bottom 50px
    h2
        padding-top 15px
        padding-bottom: 10px
        max-width 500px
        font-size: 14pt
        font-weight: bold
        text-transform: uppercase
        letter-spacing: 1.5pt
        border-bottom: solid 2px
        margin-bottom: 15px
        letter-spacing: 1.2pt

    p.time
        font-size: 11pt
        letter-spacing 0.5pt
        
    h3
        font-size: 14pt
        font-weight: bold
        // text-transform: uppercase
        margin-top 40px
        margin-bottom 15px
        letter-spacing: 1.5pt

    .vergangenes-webinar-picture
        img
            width 100%
            object-fit: cover
            
    .vergangenes-webinar-details
        display: flex
        flex-wrap: wrap
        align-items: flex-end
        justify-content: space-between
    .flyer
        text-align: center
        .download-button
            font-size: 11pt
            letter-spacing 1pt
            padding 15px
            background-color white
            color cd-foreground
            border solid 2px
            width 220px
            box-sizing: border-box


    .vergangenes-webinar-videos
        ul
            width 100%
            color #21305b
            box-sizing: border-box
            border-bottom: solid 2px
            margin-bottom 10px
        li
            color: #21305b
            // color #11204b
            border-top: solid 2px

    .webinar-video
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        background-color white
        align-items: center
        p 
            margin-bottom: 0
    .text-block
        padding 5px
        display flex
        align-items: center
        flex-wrap: wrap

        p
            padding 5px
            font-size: 11pt
            letter-spacing 0.5pt
            margin-bottom 5px
            margin-top 5px

        .label 
            font-weight: bold
            padding-right 10px
        .name
            padding 0 10px
            border-left solid 1px
        .location
            padding 0 10px
            border-left solid 1px
            

    .play-block
        padding 5px
        height 40px
        margin-left auto
        min-width 280px
        display: flex
        justify-content: center
        align-items: center
        cursor pointer
        .hint
            font-size: 9pt
            letter-spacing 0.5pt
            padding-left 10px

        svg
            width 40px
            height 40px

@media screen and (max-width: 770px)

    .vergangenes-webinar-entry
        .vergangenes-webinar-details
            padding-top 20px
            width 100%
            padding-right 0
        .flyer
            margin-top: 30px
            display: inline-block
            width 100%
            text-align: center
        .play-block
            min-width auto
            margin-left: 0
            margin-top 10px

@media screen and (max-width: 310px)
    .vergangenes-webinar-entry
        h2 
            word-break: break-all
