section#vergangen
    h2 Vergangene Webinare
    #vergangene-webinare.webinare
        //- p.no-content Noch keine Einträge vorhanden.
    
        include vergangenes-webinar7.pug
        include vergangenes-webinar6.pug
        include vergangenes-webinar5.pug
        include vergangenes-webinar4.pug
        include vergangenes-webinar3.pug
        include vergangenes-webinar1.pug
        include vergangenes-webinar2.pug
