extends vergangenes-webinar-base.pug

block picture 
    img(src="/img/banner-webinar-dez-9-21.jpg" alt="Webinar Banner")
block title
    | Optimierung der Gefäßintervention mit neuen Therapieoptionen
block time
    | Donnerstag, 9. Dezember 2021, 17:30–19:00 Uhr CET
block flyer 
    a(href="/flyer_webinar_dez_9_21.pdf") Webinar Flyer 
block videos
    | todo