
.vergangenes-webinar-entry
    text-align: left
    padding-bottom 30px
    // padding-top 30px
    background-color cd-darkbackground
    // border-bottom solid 2px cd-foreground

    h2
        font-size: 14pt
        font-weight: bold
        text-transform: uppercase
        letter-spacing: 1.5pt
    h3
        font-size: 14pt
        // font-weight: bold
        // text-transform: uppercase
        margin-top 60px
        padding 0 20px
        margin-bottom 30px
        letter-spacing: 1.5pt

    .vergangenes-webinar-picture
        img
            width 100%
            object-fit: cover
            
    .vergangenes-webinar-details
        display inline-block
        width 50%
        padding 0 20px
        box-sizing: border-box
    .flyer
        display: inline-block
        width 49%
        text-align: center
        .download-button
            font-size: 12pt
            padding 15px
    .vergangenes-webinar-videos
        ul
            width 100%
            padding 0 20px
            box-sizing: border-box
        li
            padding 7px

    .webinar-video
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        max-width 600px
        background-color white
        padding 20px
        box-sizing: border-box
        margin-bottom: 20px
        align-items: center
        p 
            margin-bottom: 0
        svg
            width 50px
            height 50px
            cursor pointer

@media screen and (max-width: 770px)

    .vergangenes-webinar-entry
        .vergangenes-webinar-details
            padding-top 20px
            width 100%
            padding-right 0
        .flyer
            margin-top: 30px
            display: inline-block
            width 100%
            text-align: center
