extends vergangenes-webinar-base.pug
include video-mixin.pug

block picture 
    img(src="/img/blood_small.jpg" alt="Thrombosedialog Banner")
block title
    | Thrombosedialog
block time
    | 4. Mai 2022 | 18:00-19:30 Uhr<br>
block flyer 
    a.download-button(href="/thrombosedialog_2022.pdf" target="_blank") Download Einladung 
