extends vergangenes-webinar-base.pug
include video-mixin.pug

block picture 
    img(src="/img/banner-webinar-dez-9-21.jpg" alt="Webinar Banner")
block title
    | Optimierung der Gefäßintervention mit neuen Therapieoptionen
block time
    | Donnerstag, 9. Dezember 2021, 17:30–19:00 Uhr CET
block flyer 
    a.download-button(href="/flyer-webinar-dez-9-21.pdf" target="_blank") Download Flyer 
block videos
    ul
        +video("1. Vessel Preparation", "Michael Lichtenberg", "Angiologie Klinikum Hochsauerland", "/video/video1-webinar-dez-9-21.mp4")
        +video("2. Dissektionsmanagement", "Florian Wolf", "Interventionelle Radiologie AKH Wien", "/video/video2-webinar-dez-9-21.mp4")
        +video("3. DCB - Stellenwert von Paclitaxel oder Sirolimus", "Marianne Brodmann", "Angiologie LKH Graz", "/video/video3-webinar-dez-9-21.mp4")
        +video("4. Stellenwert von IVUS bei venösem Stenting", "Oliver Schlager", "Angiologie AKH Wien", "/video/video4-webinar-dez-9-21.mp4")
        +video("5. Alternative Zugangswege für arterielle Rekanalisationen", "Martin Werner", "Angiologie Hanusch Krankenhaus", "/video/video5-webinar-dez-9-21.mp4")
        +video("Gesamtes Webinar", "", "", "/video/full-webinar-dez-9-21.mp4")