.vergangenes-webinar-entry
    .vergangenes-webinar-picture
        block picture
    .vergangenes-webinar-details
        .left-block
            h2 
                block title
            p.time
                block time
        .flyer
            block flyer
    h3 Aufzeichnungen
    .vergangenes-webinar-videos
        block videos
