mixin video(label, name, location, src)
    li.webinar-video
        .text-block
            p.label=label
            if name
                p.name=name
            if location
                p.location=location
        .play-block(video-source=src)
            .play-icon: svg(): use(href="#svg-play-icon")
            p.hint Webinar starten
        