//- footer structure
footer
    section#contact-block
        .max-content
            h1 Kontakt
            h2 Sekretariat
            p#co c/o Wiener Medizinische Akademie<br> 
                | für ärztliche Fortbildung und Forschung
            address#ktk Alser Straße 4 | 1090 Wien<br> 
                | Tel: 
                a(href="tel:+4314051383-21") +43 1 405 13 83 - 21
                br 
                | E-Mail: 
                a(href="mailto:ds@medacad.org") ds@medacad.org

    aside#bottom-line
        .max-content
            #bottom-line-left
                p: a(href="/impressum.html") Impressum
                    br
                    a(href="/Datenschutz.pdf") Datenschutzerklärung
            #bottom-line-right
                p Copyright 2021
                    br
                    a(href="https://designory.jimdosite.com/" target="_blank").
                        Webdesign by Visual Art Designory
    #bottom-line-underline