// footer styles
max-width-for-mobile = 700px

footer
    background-color cd-foreground
    color cd-background

#contact-block
    transition: background 0.3s
    padding 60px 0
    text-align: left
    h1
        margin-bottom 30px
    h2
        text-transform: uppercase
        font-weight: bold
        font-size 11pt
    p#co
        margin-bottom: 20px
    
    address
        @extends p

#contact-block.lit
    background-color: #eee

#bottom-line
    padding 30px 0

#bottom-line > .max-content
    display flex
    justify-content: space-between
    flex-direction: row

#bottom-line-left
    text-align: left
    text-decoration: underline
    p
        font-size 11pt

#bottom-line-right
    text-align: right

#bottom-line-underline
    height 15px
    width 100%
    background-color cd-dark

@media screen and (max-width: max-width-for-mobile)
    #bottom-line > .max-content
        flex-direction: column
        margin-bottom 100px

    #bottom-line-right
        margin-top 50px