section#ehrungen
    .max-content
        h1 Ehrungen
        .ehrung-card
            h2 Ehrenpräsident
            p Univ. Prof. Dr. Herbert Ehringer
        .ehrung-card
            h2 Ehrenmitglied
            p Univ. Prof. Ing. Dr. Dr. h.c. Gerhard Stark
        .ehrung-card
            h2 Ehrenmitglied
            p Univ. Prof. Dr. Renate Koppensteiner