extends termin-entry-base.pug
block picture 
    img(src="/img/termin-entry1.jpg" alt="Termin Poster")
block title
    | Lokale Kongresse
block description
    | Sailersymposium & Jahrestagung<br>
    | der Österreichischen Gesellschaft für Internistische Angiologie<br>
    | 24.–25. Juni 2021, Graz
