.vergangenes-seminar-entry
    .vergangenes-webinar-picture
        block picture
    .vergangenes-webinar-details
        h2 
            block title
        p.description
            block description
