extends cardbase.pug
block picture 
    img(src="/img/avatar-schweiger.webp" alt="Avatar Image")
block position
    | Kassier Stellvertreter
block name
    | Dr. Leyla Schweiger
block contacts
    | E-Mail: 
    a(href="mailto:leyla.schweiger@medunigraz.at") leyla.schweiger@medunigraz.at
