extends cardbase.pug
block picture 
    //- img(src="/img/avatar-gütl.jpg" alt="Avatar Image")
    img(src="/img/avatar-female.jpg" alt="Avatar Image")
block position
    | Kassier Stellvertreter
block name
    | Dr.med.univ. Katharina Gütl
block contacts
    | E-Mail: 
    a(href="mailto:katharina.guetl@medunigraz.at") katharina.guetl@medunigraz.at
    //- br
    //- | Website: 
    //- a(href="https://www.meduniwien.ac.at/teachingcenter" target="_blank") www.meduniwien.ac.at/teachingcenter
