extends cardbase.pug
block picture 
    img(src="/img/avatar1.jpg" alt="Avatar Image")
block position
    | Präsident
block name
    | Assoc. Prof. Priv.-Doz. Dr. Thomas Gary
block address
    | Medizinische Universität Graz
    br
    | Klinische Abteilung für Angiologie
    br
    | 8036 Graz, Auenbruggerplatz 2
block contacts
    | Tel.: 
    a(href="tel:0316/385-81795") 0316/385-81795
    br
    | E-Mail: 
    a(href="mailto:thomas.gary@medunigraz.at") thomas.gary@medunigraz.at
    br
    | Website: 
    a(href="https://www.medunigraz.at" target="_blank") www.medunigraz.at