extends cardbase.pug
block picture 
    img(src="/img/avatar-guetl.jpg" alt="Avatar Image")
block position
    | Schriftführer
block name
    | Dr.med.univ. Katharina Kurzmann-Gütl
block contacts
    | E-Mail: 
    a(href="mailto:katharina.guetl@medunigraz.at") katharina.guetl@medunigraz.at
