extends cardbase.pug
block picture 
    img(src="/img/avatar-steiner.webp" alt="Avatar Image")
block position
    | Schriftführer Stellvertreter
block name
    | Prof. Dr. Sabine Steiner, MSc
block contacts
    | E-Mail: 
    a(href="mailto:sabine.m.steiner@meduniwien.ac.at") sabine.m.steiner@meduniwien.ac.at
