extends cardbase.pug
block picture 
    img(src="/img/avatar-theurl.jpg" alt="Avatar Image")
block position
    | PRÄSIDENT-ELECT
block name
    | Priv.-Doz. Dr. Markus Theurl, PhD 
block contacts
    | E-Mail: 
    a(href="mailto:markus.theurl@tirol-kliniken.at") markus.theurl@tirol-kliniken.at
