extends cardbase.pug
block picture 
    img(src="/img/avatar-gschwandtner.jpg" alt="Avatar Image")
block position
    | Kassier
block name
    | Ao Univ. Prof. Dr. Michael Gschwandtner
block contacts
    | E-Mail: 
    a(href="mailto:ordination@gschwandtner-angiologie.at") ordination@gschwandtner-angiologie.at
    //- br
    //- | Website: 
    //- a(href="https://www.gschwandtner-angiologie.at" target="_blank") www.gschwandtner-angiologie.at
