extends cardbase.pug
block picture 
    img(src="/img/avatar1.jpg" alt="Avatar Image")
block position
    | Schriftführer Stellvertreter
block name
    | a.o. Univ.-Prof. Dr. Andrea Willfort-Ehringer
block address
    | Klin. Abt. f. Angiologie, AKH Wien
    br
    | 1180 Wien, Hans-Sachs-Gasse 14
block contacts
    | Tel.: 
    a(href="tel:+4369912028477") +43 699 1 202 84 77
    br
    | Fax: 
    a(href="fax:+439689339") +43 968 93 39
    | E-Mail: 
    a(href="mailto:andrea.willfort@chello.at") andrea.willfort@chello.at
    br
    | Website: 
    a(href="https://www.willfort-ehringer.at" target="_blank") www.willfort-ehringer.at