extends cardbase.pug
block picture 
    img(src="/img/avatar1.jpg" alt="Avatar Image")
block position
    | Schriftführer
block name
    | a.o. Univ.-Prof. Dr. Rudolf Kirchmair
block address
    | Medizinische Universität Innsbruck
    br
    | Universitätsklinik für Innere Medizin III
    br
    | Kardiologie und Angiologie
    br
    | 6020 Innsbruck, Anichstraße 35
block contacts
    | Tel.: 
    a(href="tel:0512/504-23314") 0512/504-23314 
    | od. 
    a(href="tel:0512/504-23251") 23251
    br
    | Fax: 
    a(href="fax:0512/504-23317") 0512/504-23317
    br
    | E-Mail: 
    a(href="mailto:rudolf.kirchmair@tirol-kliniken.at") rudolf.kirchmair@tirol-kliniken.at
    br
    | Website: 
    a(href="https://www.herzundgefaesse.at" target="_blank") www.herzundgefaesse.at