extends cardbase.pug
block picture 
    //- img(src="/img/avatar-ziegler.jpg" alt="Avatar Image")
    img(src="/img/avatar-female.jpg" alt="Avatar Image")
block position
    | Schriftführer Stellvertreter
block name
    | Prof. Priv.-Doz. Dr. Sophie Brunner-Ziegler
block contacts
    | E-Mail: 
    a(href="mailto:sophie.brunner-ziegler@meduniwien.ac.at") sophie.brunner-ziegler@meduniwien.ac.at
    //- br
    //- | Website: 
    //- a(href="https://www.willfort-ehringer.at" target="_blank") www.willfort-ehringer.at
