extends cardbase.pug
block picture 
    img(src="/img/avatar1.jpg" alt="Avatar Image")
block position
    | PRÄSIDENT-ELECT
block name
    | Assoc. Prof. Priv.-Doz. Dr. Oliver Schlager
block address
    | Universitätsklinik für Innere Medizin II
    br
    | Klinische Abteilung für Angiologie
    br
    | 1090 Wien, Währinger Gürtel 18-20 
block contacts
    | Tel.: 
    a(href="tel:+43140400-46710") +43 (0)1 40400-46710
    br
    | Fax.: 
    a(href="fax:+43140400-46650") +43 (0)1 40400-46650
    br
    | E-Mail: 
    a(href="mailto:oliver.schlager@meduniwien.ac.at") oliver.schlager@meduniwien.ac.at
    br
    | Website: 
    a(href="https://www.meduniwien.ac.at" target="_blank") www.meduniwien.ac.at