.vorstand-card
    .vorstand-card-picture
        block picture
        .vorstand-picture-overlay
    .vorstand-card-details
        h2 
            block position
        p.name
            block name
        address 
            p.address 
                block address
            p.contacts
                block contacts

