extends cardbase.pug
block picture 
    img(src="/img/avatar-card5.jpg" alt="Avatar Image")
    //- img(src="/img/gschwandter.jpg" alt="Avatar Image")
block position
    | Kassier
block name
    | Univ.-Prof. Dr. Michael Gschwandtner
//- block address
//-     | Angiologie, Innere Medizin
//-     br
//-     | 1190 Wien, Heiligenstädter Straße 69 / Top 12
block contacts
    //- | Tel.: 
    //- a(href="tel:06802477278") 0680 / 24 77 278
    //- br
    | E-Mail: 
    a(href="mailto:ordination@gschwandtner-angiologie.at") ordination@gschwandtner-angiologie.at
    br
    | Website: 
    a(href="https://www.gschwandtner-angiologie.at" target="_blank") www.gschwandtner-angiologie.at
