extends cardbase.pug
block picture 
    img(src="/img/avatar-card3.jpg" alt="Avatar Image")
    //- img(src="/img/theurl.jpg" alt="Avatar Image")
block position
    | Schriftführer
block name
    | Markus Theurl
//- block address - this is from Dr Kirchmair
//-     | Medizinische Universität Innsbruck
//-     br
//-     | Universitätsklinik für Innere Medizin III
//-     br
//-     | Kardiologie und Angiologie
//-     br
//-     | 6020 Innsbruck, Anichstraße 35
block contacts
    | E-Mail: 
    a(href="mailto:markus.theurl@tirol-kliniken.at") markus.theurl@tirol-kliniken.at
    br
    | Website: 
    a(href="https://www.tirol-kliniken.at" target="_blank") www.tirol-kliniken.at
