extends cardbase.pug
block picture 
    img(src="/img/avatar-card6.jpg" alt="Avatar Image")
block position
    | Kassier Stellvertreter
block name
    | Priv.-Doz. Dr. Reinhard Bernd Raggam
block address
    | Klinische Abteilung f체r Angiologie
    br
    | Medizinische Universit채t Graz
    br
    | Universit채tsklinik f체r Innere Medizin
    br
    | 8036 Graz, Auenbruggerplatz 15
block contacts
    | E-Mail: 
    a(href="mailto:reinhard.raggam@medunigraz.at") reinhard.raggam@medunigraz.at
    br
    | Website: 
    a(href="https://inneremedizin.uniklinikumgraz.at/angiologie" target="_blank") inneremedizin.uniklinikumgraz.at/angiologie