extends cardbase.pug
block picture 
    img(src="/img/avatar-card6.jpg" alt="Avatar Image")
    //- img(src="/img/hoebaus.jpg" alt="Avatar Image")
block position
    | Kassier Stellvertreter
block name
    | DDr. Clemens Höbaus
//- block address
//-     | Klinische Abteilung für Angiologie
//-     br
//-     | Medizinische Universität Graz
//-     br
//-     | Universitätsklinik für Innere Medizin
//-     br
//-     | 8036 Graz, Auenbruggerplatz 15
block contacts
    | E-Mail: 
    a(href="clemens.hoebaus@meduniwien.ac.at") clemens.hoebaus@meduniwien.ac.at
    br
    | Website: 
    a(href="https://www.meduniwien.ac.at/teachingcenter" target="_blank") www.meduniwien.ac.at/teachingcenter
