extends cardbase.pug
block picture 
    img(src="/img/avatar-card2.jpg" alt="Avatar Image")
    //- img(src="/img/raggam.jpg" alt="Avatar Image")
block position
    | PRÄSIDENT-ELECT
block name
    | Priv.-Doz. Dr. Reinhard Raggam
//- block address - this is from Dr Schlager
//-     | Universitätsklinik für Innere Medizin II
//-     br
//-     | Klinische Abteilung für Angiologie
//-     br
//-     | 1090 Wien, Währinger Gürtel 18-20 
block contacts
    | E-Mail: 
    a(href="mailto:reinhard.raggam@medunigraz.at") reinhard.raggam@medunigraz.at
    br
    | Website: 
    a(href="https://inneremedizin.uniklinikumgraz.at/angiologie" target="_blank") inneremedizin.uniklinikumgraz.at/angiologie
