extends cardbase.pug
block picture 
    img(src="/img/avatar-raggam.jpg" alt="Avatar Image")
block position
    | Präsident
block name
    | Priv.-Doz. Dr.med.univ. Reinhard Raggam
block contacts
    | E-Mail: 
    a(href="mailto:reinhard.raggam@medunigraz.at") reinhard.raggam@medunigraz.at
    //- br
    //- | Website: 
    //- a(href="https://inneremedizin.uniklinikumgraz.at/angiologie" target="_blank") inneremedizin.uniklinikumgraz.at/angiologie
