extends cardbase.pug
block picture 
    img(src="/img/avatar-hoebaus.jpg" alt="Avatar Image")
block position
    | PRÄSIDENT-ELECT
block name
    | Dr. Clemens Höbaus
block contacts
    | E-Mail: 
    a(href="mailto:clemens.hoebaus@meduniwien.ac.at") clemens.hoebaus@meduniwien.ac.at
