section#vorstand 
    h1.max-content Vorstand
    #vorstand-cards-block
        include card1.pug
        include card2.pug
        include card3.pug
        include card4.pug
        include card5.pug
        include card6.pug