avatar-size = 130px
max-details-width = 340px

min-width-for-full-grid = 1200px
min-width-for-fat-card = 640px

#vorstand
    padding-top 30px
    padding-bottom 30px
    text-align: left

#vorstand-cards-block
    padding 80px 0
    display grid
    grid-template-columns: 1fr 1fr
    column-gap: 50px
    row-gap: 50px

    .vorstand-card:nth-child(1) 
        order: 1
    .vorstand-card:nth-child(2)
        order: 3;
    .vorstand-card:nth-child(3)
        order: 5;
    .vorstand-card:nth-child(4)
        order: 2;
    .vorstand-card:nth-child(5)
        order: 4;
    .vorstand-card:nth-child(6)
        order: 6;

    .vorstand-card
        display flex

        .vorstand-card-picture
            position relative
            flex-shrink: 0
            img
                background-color white
                // border-radius: 50%
                width: avatar-size
                height: avatar-size
                margin 0 45px
                // object-fit: contain
                object-fit: cover //#CBE4E9
                filter: grayscale(100%) hue-rotate(180deg)
        .vorstand-picture-overlay
            position absolute
            width: avatar-size
            height: avatar-size
            margin 0 45px
            top 0
            left 0
            background: alpha(#68d4e8, 0.2)
        
        .vorstand-card-details
            max-width: max-details-width
            p
                font-size 11pt
            h2
                text-transform: uppercase
                font-size: 12pt
                font-weight: bold
            .name
                text-decoration: underline
                text-underline-offset: 3px
                margin-bottom 15px
            .address
                margin-bottom 15px
            .contacts
                overflow: hidden
                text-overflow: ellipsis

/*==========================================================
Responsive Stuff
==========================================================*/
@media screen and (max-width: min-width-for-full-grid)
    #vorstand-cards-block
        grid-template-columns: 1fr


@media screen and (max-width: min-width-for-fat-card)
    #vorstand-cards-block
        width: 100%
        box-sizing: border-box

        .vorstand-card
            width: 100%
            box-sizing: border-box
            flex-direction: column
            text-align center
            .vorstand-card-picture
                width: 100%
                box-sizing: border-box
            .vorstand-picture-overlay
                margin 0
                left 50%
                transform: translateX(-50%) 
            .vorstand-card-details
                width: 100%
                box-sizing: border-box
                margin auto
                padding 0 15px
                padding-top 30px

        .vorstand-card:nth-child(1) 
            order: 1
        .vorstand-card:nth-child(2)
            order: 2;
        .vorstand-card:nth-child(3)
            order: 3;
        .vorstand-card:nth-child(4)
            order: 4;
        .vorstand-card:nth-child(5)
            order: 5;
        .vorstand-card:nth-child(6)
            order: 6;


@media screen and (max-width: 370px)
        a
            word-break: break-all