doctype html
html(lang="de")
    head
        meta(charset='utf-8')
        title ÖGIA - Österreichischen Gesellschaft für Internistische Angiologie
        meta(name='description', content='Die ÖGIA ist eine wissenschaftliche Gesellschaft zur Förderung der Forschung und Weiterbildung auf dem Gebiet der Gefäßmedizin. Sie ist Mitglied des 2010 gegründeten Österreichischen Verbandes für Gefäßmedizin. Mitglieder sind Ärzte mit abgeschlossener oder laufender Ausbildung zum Facharzt für Innere Medizin mit besonderem Interesse an der Gefäßmedizin.')

        link(rel='manifest' href='sample-manifest.json')
        link(rel='icon' href='favicon.ico')
        link(rel='apple-touch-icon' sizes='180x180' href='img/sample-icon.png')
        
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        
        include styles-include.pug
    body
        include ../../source/index/indexbody.pug
        include scripts-include.pug
