/*====================================================================
RESET
====================================================================*/
@import '../stylereset/reset.styl'

/*====================================================================
Global Styles
====================================================================*/
@import '../globalstyles/styles.styl'

/*====================================================================
Including other components
====================================================================*/
@import '../allmodules/allstyles.styl'
@import 'components/main.styl'


/*====================================================================
Specific Styles
====================================================================*/
#termine-link > a
    font-weight: bold
    color cd-flash