section#lokal.overly-broad-content
    h1 Lokale Kongresse
    #lokale-termine
        p.no-content Noch keine Einträge vorhanden.

        //- include lokaler-termin1.pug
        //- include lokaler-termin2.pug
