creditssection#impressum
    .max-content
        h1 Impressum
        .paragraph24
            p (§ 24 Mediengesetz)
            
            p Prim. Univ.-Prof. Dr. Peter Marschang<br>
                | Südtiroler Sanitätsbetrieb | Krankenhaus Bozen<br>
                | I-39100 Bozen, Lorenz-Böhler-Strasse 5<br>
                | Tel.: 
                a(href="tel:+39-0471-908553") +39-0471-908 553
                br
                | Fax.: 
                a(href="fax:+39-0471-908854") +39-0471-908 854
                br
                | E-Mail: 
                a(href="Peter.Marschang@sabes.it") Peter.Marschang@sabes.it

            p Medizinische Universität Innsbruck<br>
                | Universitätsklinik f. Innere MedizinIII, Kardiologie & Angiologie <br>
                | 6020 Innsbruck, Anichstraße 35 <br>
                | E-Mail: 
                a(href="Peter.Marschang@i-med.ac.at") Peter.Marschang@i-med.ac.at

        .paragraph25
            p OFFENLEGUNG (§ 25 Mediengesetz)
            
            p Hauptaufgabe der Gesellschaft ist die Verbreitung von neuen Erkenntnissen auf dem Gebiet der Gefäßmedizin, der Erfahrungsaustausch innerhalb der Gefäßspezialisten und mit Spezialisten aus anderen medizinischen Spezialgebieten, die Unterstützung von Forschung u nd wissenschaftlichen Projekten sowie die Erarbeitung von standardisierten Vorgangsweisen bei Gefäßerkrankungen.
            
            p Richtung der Website (Blattlinie)<br>
                | Förderung der Ziele des Tätigkeitsbereiches

            p Medienunternehmer/Technische Umsetzung<br>
                | Richard Knob<br>
                | E-Mail: 
                a(href="mailto:office@knob.at") office@knob.at
                br
                |  UID-Nr: ATU61709306<br>
                | Informationspflicht lt. ECG und Mediengesetzt

        .credits
            p Photo Credits
            
            p Header: <a href="https://www.freepik.com" target="_blank">www.freepik.com</a> | Designed by mrsirapho

            p Vorstand: Beigestellt            
