creditssection#impressum
    .max-content
        h1 Impressum
        .paragraph24
            p (§ 24 Mediengesetz)
            
            p <b>Assoc. Prof. Priv.-Doz. Dr. Oliver Schlager</b><br>
                | Facharzt für Innere Medizin und Angiologie
                

            p <b>Medizinische Universität Wien</b><br>
                | Universitätsklinik für Innere Medizin II <br>
                | Klinische Abteilung für Angiologie<br>
                | Währinger Gürtel 18-20, 1090 Vienna, Austria<br>
                | Tel.: 
                a(href="tel: +43140400-46710")  +43 (0)1 40400-46710
                br
                | Fax.: 
                a(href="fax:+43140400-4665") +43 (0)1 40400-4665
                br
                | E-Mail: 
                a(href="mailto:oliver.schlager@meduniwien.ac.at") oliver.schlager@meduniwien.ac.at

        .paragraph25
            p OFFENLEGUNG (§ 25 Mediengesetz)
            
            p Hauptaufgabe der Gesellschaft ist die Verbreitung von neuen Erkenntnissen auf dem Gebiet der Gefäßmedizin, der Erfahrungsaustausch innerhalb der Gefäßspezialisten und mit Spezialisten aus anderen medizinischen Spezialgebieten, die Unterstützung von Forschung u nd wissenschaftlichen Projekten sowie die Erarbeitung von standardisierten Vorgangsweisen bei Gefäßerkrankungen.
            
            p Richtung der Website (Blattlinie)<br>
                | Förderung der Ziele des Tätigkeitsbereiches

            p Medienunternehmer/Technische Umsetzung<br>
                | Nicole Spernbauer und Lenard Frommelt<br>
                | E-Mail: 
                a(href="mailto:me@weblenny.at") me@weblenny.at
                br
                | E-Mail: 
                a(href="mailto:nicole@va-designory.at") nicole@va-designory.at
                //- br
                //- |  Steuernummer Lenard Frommelt: 687493775<br>
                
                //- | Informationspflicht lt. ECG und Mediengesetzt

        .credits
            p Photo Credits
            
            p Header: <a href="https://www.freepik.com" target="_blank">www.freepik.com</a> | Designed by mrsirapho

            p Vorstand: Beigestellt            
