#impressum
    padding-bottom: 50px
    text-align center

    h1
        word-break: break-all
        margin-bottom 42px
    
    p
        margin-bottom 40px
        line-height 170%
        font-size: 11pt
    
    .paragraph24
        margin-bottom 120px

    .paragraph25
        margin-bottom 120px