#weiterbildung
    padding-top: 30px
    padding-bottom: 300px
    text-align left

    h2
        font-size: 14pt
        font-weight: bold
        text-transform: uppercase
        margin-bottom 30px
        letter-spacing: 1.5pt
    p
        margin-bottom 30px
        letter-spacing: 1.5pt
