section#weiterbildung
    h2 Weiterbildung 
    
    p Forum für medizinische Fortbildung - FomF<br>
        | Veranstaltungsort: Aula der Wissenschaften<br>
        | Wollzeile 27a / Bäckerstraße 20<br>
        | 1010 Wien, Österreich
    
    p Information/Anmeldung<br>
        | Tel.: 
        a(href="tel:0225226326310") 02252 263 263 10
        br
        | Fax: 
        a(href="fax:0225226326340") 02252 263 263 40
        br
        | E-Mail: 
        a(href="mailto:info@fomf.at") info@fomf.at
        br
        | Website: 
        a(href="https://www.fomf.at") www.fomf.at