section#fa
    .max-content
        h1 Facharztprüfung 
        h2 Von der ÖGIA empfohlene Lernunterlagen für die Facharztprüfung

        #fa-unterlagen-download-button 
            a.download-button(href="/oegia_empfohlene_lernunterlagen.pdf" target="_blank") Download<br>Auflistung
            p Stand 20.01.2021 
        
        h2 Allgemeine Informationen zur Prüfung der Akademie der Ärzte
        #fa-arztakademie-link
            a.download-button(href="https://www.arztakademie.at/pruefungen/oeaek-facharztpruefung/informationen-zu-den-einzelnen-sonderfaechern/innere-medizin-und-angiologie/" target="_blank") Zu den Informationen
        