section#fa
    .max-content
        h1 Facharztprüfung 
        h2 Von der ÖGIA empfohlene Lernunterlagen für die Facharztprüfung

        #fa-unterlagen-download-button 
            a.download-button(href="/oegia_empfohlene_lernunterlagen.pdf" target="_blank") Download<br>Auflistung
            p Stand 20.01.2021 