#beitritt
    padding-top: 30px
    padding-bottom: 50px
    text-align left

    h1
        word-break: break-all

#fa-unterlagen-download-button
    margin-top 50px
    margin-bottom 90px

#fa-arztakademie-link
    margin-top 50px
    margin-bottom 180px

#stellenangebote
    margin-bottom 180px