.internationaler-termin-entry
    .internationaler-termin-picture
        block picture
    .internationaler-termin-details
        h2 
            block title
        p.description
            block description
