section#international.overly-broad-content
    h1 Internationale Kongresse
    #internationale-termine
        p.no-content Noch keine Einträge vorhanden.

        //- include internationaler-termin1.pug
        //- include internationaler-termin2.pug
