main
    padding-top 100px
    padding-bottom 100px

/*====================================================================
Including other components
====================================================================*/
@import 'zukunftige/zukunftige.styl'
@import 'vergangene/vergangene.styl'
