extends zukunftiges-webinar-base.pug
block picture 
    img(src="/img/banner-webinar-dez-9-21.jpg" alt="Webinar Banner")
block title
    | Arterielle und venöse Gefäßinterventionen - Therapieoptionen
block time
    | 6. Dezember 2023 | 18:30-20:00 CET<br>
block flyer 
    a.download-button(href="/oegia_live_webinar_2023.pdf" target="_blank") Download Einladung 
block registration
    //- a.registration-button(href="" target="_blank") Zur Registrierung 
