extends zukunftiges-webinar-base.pug
block picture 
    img(src="/img/study_medicine.webp" alt="Webinar Banner")
block title
    | Fortbildung Gefässmedizin<br>Vascular Medicine Update
block time
    | September 16 - January 27 (weekly lectures)<br>
block flyer 
    a.download-button(href="/vascular_medicine_update.pdf" target="_blank") Download Flyer 
block registration
    a.registration-button(href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_ZGFkNDMxZTMtNGE1MS00ZmY1LTk2MTItZDZiZmVhNDhkZTlh%40thread.v2/0?context=%7b%22Tid%22%3a%22add97a15-02da-4f41-8032-6ea0d10e7893%22%2c%22Oid%22%3a%22ce138dc6-8285-4c70-ac08-777e663c4c44%22%7d" target="_blank") Participate Here 
