extends zukunftiges-webinar-base.pug
block picture 
    img(src="/img/blood_small.jpg" alt="Thrombosedialog Banner")
block title
    | Thrombosedialog
block time
    | 4. Mai 2022 | 18:00-19:30 Uhr<br>
block flyer 
    a.download-button(href="/thrombosedialog_2022.pdf" target="_blank") Download Flyer 
block registration
    a.registration-button(href="https://events.bayer.com/event/e17dbc90-b2a6-47ae-82ea-0b7c0551232a/summary" target="_blank") Zur Registrierung 
