extends zukunftiges-webinar-base.pug
block picture 
    img(src="/img/bloodvessels.jpg" alt="Webinar Banner")
block title
    | 21st European Angiology Days
block time
    | November 29 - December 1<br>
//- block flyer 
//-     a.download-button(href="/oegia_live_webinar_2023.pdf" target="_blank") Download Einladung 
block registration
    a.registration-button(href="https://europeanangiologydays.net/" target="_blank") Zur Registrierung 
