extends zukunftiges-webinar-base.pug
block picture 
    img(src="/img/hyperlipidemia.jpg" alt="Webinar Banner")
block title
    | Angiologie im Fokus:<br> pAVK und LDL - die stille Gefahr
block time
    | 23. Juni 2025
block flyer 
    a.download-button(href="/hyperlipidemia.pdf" target="_blank") Download Flyer 
block registration
    a.registration-button(href="https://medahead-fortbildung.at/event/hla_juni2025/" target="_blank") Anmeldung 
