.zukunftiges-webinar-entry
    .zukunftiges-webinar-picture
        block picture
    .zukunftiges-webinar-details
        .left-block
            h2 
                block title
            p.time
                block time
        .flyer
            block flyer
    .webinar-registration
        block registration
