extends zukunftiges-webinar-base.pug
block picture 
    img(src="/img/bubbles.webp" alt="Webinar Banner")
block title
    | Modernes Lipidmanagement in der pAVK
block time
    | 6. Juni 2024 | 18:00-19:30 CEST<br>
//- block flyer 
//-     a.download-button(href="/oegia_live_webinar_2023.pdf" target="_blank") Download Einladung 
block registration
    a.registration-button(href="https://register.gotowebinar.com/register/9046868971567419483" target="_blank") Zur Registrierung 
