extends podcast-base.pug
include podcast-play-mixin.pug
include sponsor-mixin.pug

block picture 
    img(src="/img/congress_radio_gg_2025.webp" alt="Podcast Representation Image")
block title
    | Congress Radio - Grazer Gefäß- und Gerinnungstage (Teil 1)
block links
    +podcast-play("Podcast auf Spotify", "https://open.spotify.com/episode/0F9mMMXQy7kvdix7JSJJA6")
    +podcast-play("Podcast auf Apple Podcasts", "https://podcasts.apple.com/at/podcast/congress-radio-grazer-gef%C3%A4%C3%9F-und-gerinnungstage-teil-1/id1712693568?i=1000714916278")
    +podcast-play("Podcast auf Buzzsprout", "https://www.buzzsprout.com/2254118/episodes/17402722-congress-radio-grazer-gefass-und-gerinnungstage-teil-1")


block flyer 
    a.download-button(href="/podcast-gerinnungstage-2025.pdf" target="_blank") Download Flyer 

block sponsors
    +sponsor("img/novo-nordisk-logo.svg", "https://novonordisk.at")