section#podcasts
    h2 Podcasts
    #podcasts-list
        //- p.no-content Noch keine Einträge vorhanden. 

        include podcast5.pug
        include podcast4.pug
        include podcast3.pug
        include podcast2.pug
        include podcast1.pug
        include podcast8.pug
        include podcast7.pug
        include podcast6.pug
