//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    //- img(src="/img/banner-termin-sommerakademie-2022.jpg" alt="Angiologische Sommerakademie Banner")
    img(src="/img/linz.webp" alt="VASCMED 2024 Banner")
block title
    | VASCMED 2024<br> Jahrestagung der ÖGIA
block location
    | Courtyard by Marriott, Linz
block time
    | 17.-19. Oktober 2024
block website 
    a(href="http://vascmed-kongress.at/2024/willkommen.php" target="_blank") vascmed-kongress.at
block flyer 
    a.download-button(href="/vascmed_2024.pdf" target="_blank") Download Flyer 
    a.registration-button(href="https://registration.maw.co.at/VASCMED2024" target="_blank") Zur Anmeldung

