section#lokal
    h2 Lokale Kongresse
    #lokale-termine.termine
        p.no-content Keine Einträge vorhanden.
        
        
        //- .passed: include lokaler-termin8.pug
        //- .passed: include lokaler-termin7.pug 
        //- .passed: include lokaler-termin4.pug 
        //- .passed: include lokaler-termin5.pug
        //- .passed: include lokaler-termin3.pug
        //- .passed: include lokaler-termin2.pug
        //- .passed: include lokaler-termin1.pug
        //- include lokaler-termin4.pug
