//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    //- img(src="/img/banner-termin-sommerakademie-2022.jpg" alt="Angiologische Sommerakademie Banner")
    img(src="/img/salzburg.jpg" alt="ÖGIM Jahrestagung Banner")
block title
    | 55. Jahrestagung der ÖGIM
block location
    | Congress Salzburg, Salzburg
block time
    | 18.-20. September 2024
block website 
    a(href="https://www.oegim.at/veranstaltungen/oegim-jahrestagung" target="_blank") https://www.oegim.at/jahrestagung
block flyer 
    a.download-button(href="/oegim_jahrestagung_2024.pdf" target="_blank") Download Flyer 
    a.registration-button(href="https://registration.maw.co.at/oegim24" target="_blank") Zur Anmeldung

