//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    //- img(src="/img/banner-termin-gerinnungstage.jpg" alt="Gerinnungstage Banner")
    img(src="/img/graz_small.jpg" alt="Grazer Gerinnungstage Banner")
block title
    | Grazer Gerinnungstage - 19. Sailersymposium
block location
    | Seminarzentrum des LKH Universitätsklinikums Graz 
block time
    | 20. und 21. Juni 2024
block website 
    a(href="http://www.grazergerinnung.at/" target="_blank") www.grazergerinnung.at
block flyer 
    a.download-button(href="/gerinnungstage_2024.pdf" target="_blank") Download Flyer 
    a.registration-button(href="https://registration.maw.co.at/sailersymposium2024" target="_blank") Zur Anmeldung

