//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    //- img(src="/img/banner-termin-gerinnungstage.jpg" alt="Gerinnungstage Banner")
    img(src="/img/graz_small.jpg" alt="Grazer Gerinnungstage Banner")
block title
    | Grazer Gerinnungstage - 18. Sailersymposium
block location
    | Medizinische Universität Graz, Graz 
block time
    | 22-23 Juni 2023
block website 
    a(href="http://www.grazergerinnung.at/" target="_blank") www.grazergerinnung.at
block flyer 
    a.download-button(href="/gerinnungstage_2023.pdf" target="_blank") Download Flyer 
