extends lokaler-termin-base.pug
block picture 
    img(src="/img/termin-entry1.jpg" alt="Termin Poster")
block title
    | Internationale Kongresse
block description
    | Angiologische Sommerakademie 2020<br>
    | 19.-20. Juni 2020, Berlin<br>
    | Website: 
    a(href="https://www.vascular-summer-academy.info/vasc/") www.vascular-summer-academy.info/vasc/
    br
    span.warning Auf den 11. bis 12. Juni 2021 verschoben
