//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    //- img(src="/img/banner-termin-thrombose-dialog.jpg" alt="Thrombosedialog Banner")
    img(src="/img/blood_small.jpg" alt="Thrombosedialog Banner")
block title
    | Thrombosedialog
block location
    | Online
block time
    | 4.5.2022
//- block website 
//-     a(href="https://" target="_blank") 
//- block flyer 
//-     a.download-button(href="/.pdf" target="_blank") Download Flyer 
