section#lokal
    h2 Lokale Kongresse
    #lokale-termine.termine
        //- p.no-content Noch keine Einträge vorhanden.

        include lokaler-termin4.pug 
        .passed: include lokaler-termin3.pug
        .passed: include lokaler-termin2.pug
        .passed: include lokaler-termin1.pug
        //- include lokaler-termin4.pug
