//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    //- img(src="/img/banner-termin-sommerakademie-2022.jpg" alt="Angiologische Sommerakademie Banner")
    img(src="/img/salzburg.jpg" alt="ÖGIM Jahrestagung Banner")
block title
    | 54. Jahrestagung der ÖGIM
block location
    | Congress Salzburg, Salzburg
block time
    | 21.-23. September 2022
block website 
    a(href="https://www.oegim.at/aktuell/jahrestagung.html" target="_blank") https://www.oegim.at/jahrestagung
block flyer 
    a.download-button(href="/oegim_jahrestagung_2023.pdf" target="_blank") Download Flyer 
