//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    //- img(src="/img/banner-termin-sommerakademie-2022.jpg" alt="Angiologische Sommerakademie Banner")
    img(src="/img/wien_small.jpg" alt="Angiologische Sommerakademie Banner")
block title
    | Angiologische Sommerakademie und Jahrestagung der ÖGIA
block location
    | Tech Gate, Wien
block time
    | 1-2 Juli 2022
block website 
    a(href="https://www.vascular-summer-academy.info/wp/" target="_blank") www.vascular-summer-academy.info
block flyer 
    a.download-button(href="/sommerakademie_2022.pdf" target="_blank") Download Flyer 
