//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    //- img(src="/img/banner-termin-gerinnungstage.jpg" alt="Gerinnungstage Banner")
    img(src="/img/graz_small.jpg" alt="Grazer Gerinnungstage Banner")
block title
    | Grazer Gerinnungstage - 17. Sailersymposium
block location
    | Seminarzentrum LKH, Graz 
block time
    | 23-24 Juni 2022
block website 
    a(href="http://www.grazergerinnung.at/" target="_blank") www.grazergerinnung.at
block flyer 
    a.download-button(href="/gerinnungstage-2022.pdf" target="_blank") Download Flyer 
