//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    //- img(src="/img/banner-termin-thrombose-dialog.jpg" alt="Thrombosedialog Banner")
    img(src="/img/blood_small.jpg" alt="Thrombosedialog Banner")
block title
    | Thrombosedialog
block location
    | Online
block time
    | 4.5.2022
block website 
    a(href="https://events.bayer.com/event/e17dbc90-b2a6-47ae-82ea-0b7c0551232a/summary" target="_blank") events.bayer.com/event/thrombosedialog
block flyer 
    a.download-button(href="/thrombosedialog_2022.pdf" target="_blank") Download Flyer 
