// #ehrungen
//     padding-top 30px
//     padding-bottom 50px
//     text-align: left

//     .ehrung-card
//         padding 10px
//         margin-bottom 30px
//         background-color alpha(cd-darkbackground, 50%)

//         h2 
//             margin-bottom 10px
//         p
//             text-decoration: underline
//             font-size: 14pt

#stellenangebote
    padding-top 30px
    padding-bottom 50px
    // background-color cd-darkbackground

    .stellenangebot
        padding 10px
        margin-bottom 30px
        // background-color #fff8
        background-color cd-darkbackground
        text-align: left

        h2 
            margin-bottom 10px
            font-size: 15pt
        h3
            font-weight: bold
            font-size 11pt
            margin-bottom 3px
        p
            text-decoration: underline
            font-size: 12pt