extends stellenangebotbase.pug
block stellenangebotTitle
    | Fachärztin*/-arzt* für Innere Medizin
block stellenangebotOrt 
    | Göttlicher Heiland Krankenhaus Wien, Wien
block inseratLink 
    | <a href="/stellenangebot_2.pdf">>> Inserat</a> 
