extends stellenangebotbase.pug
block stellenangebotTitle
    | Chefarzt Angiologie
block stellenangebotOrt 
    | Kantonsspital Graubünden, Chur
block inseratLink 
    | <a href="/stellenangebot_1.pdf">>> Inserat</a> 
