//- header structure
header
    nav#headermenu.menu-open
        #fa-links
            a(href="/fa.html") FA Prüfung
            br
            a(href="/fa.html") Stellenangebote
        #logo-row
            svg#logo: use(href="#svg-oegia-icon")
        #menu-row.inner-content
            #ogia-link.menu-link
                a(href="/") ÖGIA
                #ogia-submenu.submenu
                    #ziele-link.submenu-link 
                        a(href="/#ziele") Ziele
                    #vorstand-link.submenu-link 
                        a(href="/#vorstand") Vorstand
                    #sektionen-link.submenu-link 
                        a(href="/#sektionen") Sektionen
                    #ehrungen-link.submenu-link 
                        a(href="/#ehrungen") Ehrungen
                    #beitritt-link.submenu-link
                        a(href="/#beitritt") Beitritt
            #termine-link.menu-link
                a(href="/termine.html") Termine/Kongresse
            #webinare-link.menu-link
                a(href="/webinare.html") Webinare
                #ogia-submenu.submenu
                    #zukunftige-webinare-link.submenu-link 
                        a(href="/webinare.html/#zukunftige") Zukünftige
                    #vergangene-webinare-link.submenu-link 
                        a(href="/webinare.html/#vergangene") Vergangene
            #auskunft-link.menu-link 
                a(href="/auskunft.html") Patientenauskunft
            #links-link.menu-link 
                a(href="/links.html") Links
            #kontakt-link.menu-link
                a(href="#kontakt") Kontakt
        #menu-buttons-row 
            svg#menu-open-button(): use(href="#svg-menu-icon")
            svg#menu-close-button(): use(href="#svg-cross-icon")
    #mobile-logo-row
        svg#mobile-logo: use(href="#svg-oegia-icon")
    #banner-image
        p#image-credits