//- header structure
header
    nav
        #fa-links
            a(href="/fa.html") FA Prüfung
            br
            a(href="/fa.html") Stellenangebote
        #logo-row
            #logo
        #menu-row.inner-content
            #ogia-link.menu-link
                a(href="/") ÖGIA
                #ogia-submenu.submenu
                    #ziele-link.submenu-link 
                        a(href="/#ziele") Ziele
                    #vorstand-link.submenu-link 
                        a(href="/#vorstand") Vorstand
                    #sektionen-link.submenu-link 
                        a(href="/#sektionen") Sektionen
                    #ehrungen-link.submenu-link 
                        a(href="/#ehrungen") Ehrungen
                    #beitritt-link.submenu-link
                        a(href="/#beitritt") Beitritt
            #termine-link.menu-link
                a(href="/termine.html") Termine/Kongresse
            #auskunft-link.menu-link 
                a(href="/auskunft.html") Patientenauskunft
            #links-link.menu-link 
                a(href="/links.html") Links
            #kontakt-link.menu-link
                a(href="#kontakt") Kontakt
    #banner-image
        p#image-credits