logo-size = 120px
header-padding = 20px

// header styles
header
    background-color cd-darkbackground
nav
    position fixed
    top 0
    width 100%
    padding header-padding header-padding 0 header-padding
    box-sizing: border-box
    background-color cd-darkbackground
    z-index 2
    transition transform 0.5s
    
.small-nav
    transform translateY(-140px)

#logo
    margin auto
    width logo-size
    height logo-size
    background-color black

#fa-links
    position absolute 
    top header-padding
    right header-padding
    text-align: right
    text-decoration: underline

#menu-row
    position relative
    z-index: 2
    padding-top 20px
    text-transform: uppercase
    display flex
    justify-content: space-between
    .menu-link
        position relative
        font-size 14pt
        cursor pointer
        padding-bottom header-padding
    .menu-link:hover > a
        color cd-flash
    .submenu
        display flex
        flex-direction column
        position absolute
        top 30px
        left 0
    .submenu-link
        transition background 0.3s
        font-size 11pt
        background-color white
        padding 7px
        margin-top 3px
        min-width 150px
        text-align: left
    .submenu-link:hover
        background-color cd-darkbackground
        cursor pointer

#ogia-submenu.submenu
    display: none
#ogia-link:hover
    #ogia-submenu.submenu
        display: flex

// #ogia-link
//     min-width 50px
// #termine-link
//     min-width 215px
// #auskunft-link
//     min-width 210px
// #links-link
//     min-width 60px
// #kontakt-link
//     min-width 90px
    // text-align: right

#banner-image
    margin-top: 200px
    z-index: 1
    position relative
    width 100%
    height 420px
    background-color black
#image-credits
    position absolute
    left 10px
    bottom 10px
#image-credits:after
    content: "Sample Credit"
