//-############################################################
svg#svgicon-definitions
    defs
        filter#svg-dropshadow-filter(height="130%" width="130%")
            fegaussianblur(in="SourceGraphic" stddeviation="3" result="blurOut")
            feColorMatrix(in="blurOut" type="saturate" values="0.25" result="shadowOut")
            feblend(in='SourceGraphic' in2='shadowOut' mode='normal')

//-############################################################
svg#svgicon-symbols

    symbol#svg-cross-icon(preserveAspectRatio="xMidYMid meet" viewBox='0 0 24 24')
        path(fill='currentColor' d='M19,3H16.3H7.7H5A2,2 0 0,0 3,5V7.7V16.4V19A2,2 0 0,0 5,21H7.7H16.4H19A2,2 0 0,0 21,19V16.3V7.7V5A2,2 0 0,0 19,3M15.6,17L12,13.4L8.4,17L7,15.6L10.6,12L7,8.4L8.4,7L12,10.6L15.6,7L17,8.4L13.4,12L17,15.6L15.6,17Z')
    
    symbol#svg-menu-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor", d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z")

    symbol#svg-play-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M10,16.5L16,12L10,7.5V16.5Z")

    symbol#svg-oegia-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 500 500")
        path(d="M252.173 133.973C225.44 83.1803 115.833 11 115.833 11C115.833 11 215.437 42.1542 281.58 115.26C351.087 56.447 380.493 37.7337 450 11C450 11 356.433 69.8136 310.987 133.973V358.533C351.087 422.694 447.327 489.527 447.327 489.527C377.82 460.121 343.067 436.06 281.58 385.267C225.44 436.06 190.687 460.121 115.833 486.854C115.833 486.854 220.358 423.575 252.173 358.533V133.973Z", fill="#CE1F1C")
        path(d="M185.34 133.973C158.607 83.1803 49 11 49 11C49 11 148.603 42.1542 214.747 115.26C284.253 56.447 313.66 37.7337 383.167 11C383.167 11 289.6 69.8136 244.153 133.973V358.533C284.253 422.694 380.493 489.527 380.493 489.527C310.987 460.121 276.233 436.06 214.747 385.267C158.607 436.06 123.853 460.121 49 486.854C49 486.854 153.525 423.575 185.34 358.533V133.973Z", fill="#11204B")
