// globalstyles styles

/*==========================================================
Color Theme
==========================================================*/
cd-foreground = #11204b
cd-flash = #ce1f1c
cd-dark = #212121
cd-background = white
cd-darkbackground = #ecf0f2

/*==========================================================
Global Variables
==========================================================*/
max-content-width = 900px
inner-content-width = 750px
mobile-side-padding = 15px


/*==========================================================
General Tag Styles
==========================================================*/
body
    background-color cd-background
    color cd-foreground
    font-family: Helvetica, Arial, sans-serif
    text-align: center
    font-size: 12pt
    // height 100vh
    width 100%
    // overflow hidden

h1
    font-size: 17pt
h2
    font-size: 19pt
    letter-spacing: 2pt

h3
    font-size: 11pt
    letter-spacing: 1.0pt
p
    font-size: 12pt
    letter-spacing: 1pt
    line-height: 130%



.inner-content
    margin auto
    max-width: inner-content-width
    padding-left: mobile-side-padding
    padding-right: mobile-side-padding

.max-content
    margin auto
    max-width: max-content-width
    padding-left: mobile-side-padding
    padding-right: mobile-side-padding


paddingless-max-content-width = (max-content-width + (2 * mobile-side-padding))
@media screen and (min-width: paddingless-max-content-width)
    .max-content
        padding-left: 0
        padding-right: 0

paddingless-inner-content-width = (inner-content-width + (2 * mobile-side-padding))
@media screen and (min-width: paddingless-inner-content-width)
    .inner-content
        padding-left: 0
        padding-right: 0
