// globalstyles styles

/*==========================================================
Color Theme
==========================================================*/
cd-foreground = #11204b
cd-flash = #ce1f1c
cd-background = white
cd-darkbackground = #ecf0f2

/*==========================================================
Global Variables
==========================================================*/
// max-content-width = 900px
// mobile-side-padding = 15px


/*==========================================================
General Tag Styles
==========================================================*/
body
    background-color cd-background
    color cd-foreground
    font-family: Helvetica, Arial, sans-serif
    text-align: center
    font-size: 12pt
    height 100vh
    width 100%
    overflow hidden

h1
    font-size: 17pt
h2
    font-size: 15pt
p
    font-size: 12pt
