section#willkommen.max-content
    p.welcome Willkommen auf der Webseite der Österreichischen Gesellschaft für Internistische Angiologie, Innere Medizin und Angiologie (ÖGIA)

    p.about Die ÖGIA ist eine wissenschaftliche Gesellschaft zur Förderung der Forschung und Weiterbildung auf dem Gebiet der Gefäßmedizin. Sie ist Mitglied des 2010 gegründeten Österreichischen Verbandes für Gefäßmedizin. Mitglieder sind Ärzte mit abgeschlossener oder laufender Ausbildung zum Facharzt für Innere Medizin mit besonderem Interesse an der Gefäßmedizin.

    p.hint Die Zeitschrift für Gefäßmedizin ist das offizielle Organ der ÖGIA. <br>
       a(href="https://www.kup.at/journals/gefaessmedizin" target="_blank") www.kup.at/journals/gefaessmedizin

    aside
        p Wir freuen uns mitteilen zu dürfen, dass wir neben den gewohnten Features in ZEITSCHRIFT FÜR GEFÄSSMEDIZIN Online nun auch die aktuellen Versionen des Journals als Gesamt-PDF zum Download, Archivieren und Lesen auf Tablet oder ebook-Reader anbieten können. <br>Unter 
            a(href="https://www.kup.at/download/gefaessmedizin.html") www.kup.at/download/gefaessmedizin 
            br
            | (Benutzername: kup, Kennwort leer) finden Sie die komplette aktuelle Zeitschrift – zum Lesen, wo immer Sie gerade sind.

        p Einen Überblick über den Inhalt bietet der neue Service:<br>
            a(href="https://www.kup.at/gefaessmedizin/mobile" target="_blank") www.kup.at/gefaessmedizin/mobile
            br 
            | Informieren Sie sich auf Ihrem Smartphone stets aktuell über die Inhalte der Ausgaben der Zeitschrift für Gefäßmedizin.