#willkommen
    text-align left
    padding-bottom 50px
    p
        line-height 150%

    .welcome
        // font-weight: bold
        font-size 16pt
        letter-spacing: 2pt
        margin-bottom: 30px
        width 90%

    .about
        margin-bottom 40px
    
    .hint
        margin-bottom 30px

    aside
        p
            font-size 11pt
            letter-spacing: 0.5pt
            margin-bottom 20px
            line-height: 130%