#beitritt
    display: block
    // background-color cd-darkbackground
    padding-top: 30px
    padding-bottom: 50px
    text-align center

    h1
        word-break: break-all

#beitrittsformular-download-button
    margin-top 70px
    margin-bottom 70px
