#auskunft
    padding-top: 30px
    padding-bottom: 200px

.bundesland
    transition: all 0.5s
    opacity 0.8
    cursor: pointer

.bundesland:hover
    opacity 1 

.selected
    opacity 1 
    stroke: cd-flash
    stroke-width: 0.5px