section#auskunft
    h1 Patientenauskunft
    include navigation.pug
    #austria-map.max-content
        include austria-map.pug
    #patienten-information.overly-broad-content
        h2 Informationen für Patienten 
        include informationblocks.pug
