#information-block
    padding-top 20px
    display grid
    grid-template-columns 1fr 1fr
    grid-gap: 30px

#information-detail-card-container
    order 2

#information-detail-card
    min-width 290px
    margin-bottom 50px
    padding 50px 30px
    border solid 2px cd-foreground
    box-sizing: border-box
    p
        line-height: 180%
    .detail-owner
        font-weight: bold
        text-decoration: underline
    .detail-name
        font-weight: bold
    .further-details
        margin-top: 50px
        h3
            font-size: 14pt
            margin-bottom 20px

#information-stations-list
    order 1
    min-width 290px
    flex-grow: 0

#information-stations-list > p
    padding 10px


.station
    background-color white
    padding 10px
    border solid 2px cd-foreground
    margin-bottom 20px
    cursor pointer
    transition all 0.5s

.station:hover
    background-color cd-darkbackground


.station.selected
    border-color cd-darkbackground
    background-color cd-darkbackground


.station-owner
    font-weight bold

@media screen and (max-width: 850px)
    #information-block
        grid-template-columns 1fr

    #information-detail-card-container
        order 1

    #information-stations-list
        order 2






#hidden-templates
    display none







#auskunft
    padding-top: 30px
    padding-bottom: 100px
    text-align: left

    h1
        word-break: break-all
        text-align: center
    h2
        margin-bottom: 30px
        margin-top: 50px

.bundesland
    transition: all 0.5s
    opacity 0.8
    cursor: pointer

.bundesland:hover
    opacity 1 

.selected
    opacity 1 
    stroke: cd-flash
    stroke-width: 0.5px




#navigation
    margin-top 100px
    margin-bottom 40px
    font-weight: bold
    text-transform: uppercase
    h2
        font-size: 12pt
        border-bottom 2px solid cd-foreground
        padding-bottom 7px
        margin-bottom 7px
    a
        font-size: 11pt
        line-height: 150%
        cursor: pointer
        transition color 0.5s

    .selected 
        color #ccc

#navigation-block
    display grid
    grid-template-columns: 1fr 1fr 1fr 

    a:nth-child(1) 
        order: 1
    a:nth-child(2)
        order: 4
    a:nth-child(3)
        order: 7
    a:nth-child(4)
        order: 2
    a:nth-child(5)
        order: 5
    a:nth-child(6)
        order: 8
    a:nth-child(7)
        order: 3
    a:nth-child(8)
        order: 6
    a:nth-child(9)
        order: 9

@media screen and (max-width: 1040px)
    #navigation-block
        display grid
        grid-template-columns: 1fr 1fr

        a:nth-child(1) 
            order: 1
        a:nth-child(2)
            order: 3
        a:nth-child(3)
            order: 5
        a:nth-child(4)
            order: 7
        a:nth-child(5)
            order: 9
        a:nth-child(6)
            order: 2
        a:nth-child(7)
            order: 4
        a:nth-child(8)
            order: 6
        a:nth-child(9)
            order: 8

@media screen and (max-width: 750px)
    #navigation-block
        display grid
        grid-template-columns: 1fr

        a:nth-child(1) 
            order: 1
        a:nth-child(2)
            order: 2
        a:nth-child(3)
            order: 3
        a:nth-child(4)
            order: 4
        a:nth-child(5)
            order: 5
        a:nth-child(6)
            order: 6
        a:nth-child(7)
            order: 7
        a:nth-child(8)
            order: 8
        a:nth-child(9)
            order: 9
