nav#navigation.overly-broad-content 
    h2 Angiologie in Österreich 
    #navigation-block 
        a#vorarlberg-link Angiologie in Vorarlberg
        a#tirol-link Angiologie in Tirol
        a#salzburg-link Angiologie in Salzburg
        a#kaernten-link Angiologie in Kärnten
        a#oberoesterreich-link Angiologie in Oberösterreich
        a#steiermark-link Angiologie in der Steiermark
        a#niederoesterreich-link Angiologie in Niederösterreich
        a#wien-link Angiologie in Wien
        a#burgenland-link Angiologie in Burgenland