#links
    padding-top: 30px
    padding-bottom: 300px
    text-align left

    h1
        text-align: center

    .link
        padding 20px 90px
        h2 
            font-size 13pt
            font-weight: 100
            letter-spacing: 1pt
            margin-bottom 5px
        a
            text-decoration: underline
            font-size: 11pt

    @media screen and (max-width: 700px)
        .link
            padding 20px 40px

    @media screen and (max-width: 450px)
        .link
            padding 20px 15px
            // h2
            //     word-break: break-all
            a
                word-break: break-all
