section#links
    h1 Links
    .link 
        h2 ÖSTERREICHISCHER VERBAND FÜR GEFÄßMEDIZIN
        p: a(href="https://www.vascmed.at" target="_blank") www.vascmed.at
    .link 
        h2 ÖSTERREICHISCHE GESELLSCHAFT FÜR GEFÄßCHIRURGIE
        p: a(href="https://www.vasc-surg.at" target="_blank") www.vasc-surg.at
    .link 
        h2 ÖSTERREICHISCHE GESELLSCHAFT FÜR INTERVENTIONELLE RADIOLOGIE
        p: a(href="https://www.oegir.at" target="_blank") www.oegir.at
    .link 
        h2 ÖSTERREICHISCHE GESELLSCHAFT FÜR PHLEBOLOGIE UND DERMATOLOGISCHE ANGIOLOGIE
        p: a(href="https://www.phlebologie.at" target="_blank") www.phlebologie.at
    .link 
        h2 ABTEILUNG ANGIOLOGIE DER MEDIZINUNIVERSITÄT WIEN
        p: a(href="https://www.meduniwien.ac.at/orgs/index.php?id=1593" target="_blank") www.meduniwien.ac.at/orgs/index.php?id=1593
    .link 
        h2 ABTEILUNG ANGIOLOGIE DER MEDIZINUNIVERSITÄT GRAZ
        p: a(href="https://www.medunigraz.at/angiologie" target="_blank") www.medunigraz.at/angiologie
    .link 
        h2 DEUTSCHE GESELLSCHAFT FÜR ANGIOLOGIE
        p: a(href="https://www.dga-gefaessmedizin.de" target="_blank") www.dga-gefaessmedizin.de
    .link 
        h2 UNION SCHWEIZERISCHER GESELLSCHAFTEN FÜR GEFÄSSKRANKHEITEN
        p: a(href="https://www.uvs.ch" target="_blank") www.uvs.ch
    .link 
        h2 SCHWEIZERISCHE GESELLSCHAFT FÜR ANGIOLOGIE
        p: a(href="https://www.angioweb.ch/e/home.php" target="_blank") www.angioweb.ch/e/home.php
    .link 
        h2 ÖSTERREICHISCHE GESELLSCHAFT FÜR INNERE MEDIZIN
        p: a(href="https://www.oegim.at" target="_blank") www.oegim.at
    .link 
        h2 INTERNATIONAL UNION OF ANGIOLOGY
        p: a(href="https://www.angiology.org" target="_blank") www.angiology.org
    .link
        h2 GESELLSCHAFT FÜR THROMBOSE- UND HÄMOSTASEFORSCHUNG
        p: a(href="https://www.gth-online.org" target="_blank") www.gth-online.org
    .link
        h2 EUROPEAN SOCIETY FOR VASCULAR SURGERY
        p: a(href="https://www.esvs.org" target="_blank") www.esvs.org
