extends cardbase.pug
block sektionName
    | Sektion Gefäßintervention
block leaderName
    | <a href="mailto:oliver.schlager@meduniwien.ac.at">Assoc.-Prof. Priv.-Doz. Dr. Oliver Schlager</a> / <a href="mailto:leyla.schweiger@medunigraz.at"> Univ. Dr. Leyla Schweiger</a>
