extends cardbase.pug
block sektionName
    | Sektion Thromboembolische Erkrankungen, Venöse Erkrankungen/Schnittstelle Phlebologie & Lymphologie
block leaderName
    | <a href="mailto:thomas.gary@medunigraz.at">Assoz. Prof. Priv.-Doz. Dr.med.univ. Thomas Gary</a> 
