extends cardbase.pug
block sektionName
    | Sektion Prävention/Risikorfaktormanagement
block leaderName
    | <a href="mailto:gerald.seinost@medunigraz.at">Ao.Univ.-Prof. Dr.med.univ. Gerald Seinost</a>
