extends cardbase.pug
block sektionName
    | Sektion Internationale Beziehungen/ESVM +Forschung
block leaderName
    | <a href="mailto:marianne.brodmann@medunigraz.at">Ao.Univ.-Prof.in Dr.in med.univ. Marianne Brodmann</a>
