extends cardbase.pug
block sektionName
    | Sektion Vaskulitis/Immunologie
block leaderName
    | <a href="mailto:philipp.jud@medunigraz.at"> Univ. FA Priv.-Doz. Dr.med.univ. Dr.scient.med. Philipp Jud</a>
