extends cardbase.pug
block sektionName
    | Sektion Gefäßultraschall
block leaderName
    | <a href="mailto:andrea.willfort-ehringer@meduniwien.ac.at">Ao Univ. Prof.in Dr.in Andrea Willfort – Ehringer</a> / <a href="mailto:markus.theurl@tirol-kliniken.at">Priv.-Doz. Dr. Markus Theurl</a>
