#ziele
    text-align left
    background-color: cd-darkbackground
    padding-bottom 50px
    padding-top 30px
    p
        font-size 11pt
        letter-spacing: 0.5pt
        margin-bottom 20px

    ul
        margin-bottom 20px
        font-size 11pt
        line-height: 130%
        font-family: Inter Light
        letter-spacing: 0.5pt
        margin-bottom 20px
        // li
        //     margin-bottom 10px

#statuten-download-button
    margin-top 70px
    margin-bottom 70px
    text-align: center