section#ziele
    .max-content
        h1 Ziele der ÖGIA
        p Hauptaufgabe der Gesellschaft ist die Verbreitung von:
        ul
            li neuen Erkenntnissen auf dem Gebiet der Gefäßmedizin
            li der Erfahrungsaustausch innerhalb der, Gefäßmedizinspezialisten und mit Spezialisten aus anderen medizinischen Spezialgebieten, 
            li die Unterstützung von Forschung und wissenschaftlichen Projekten, sowie
            li die Erarbeitung von standardisierten Vorgangsweisen bei Gefäßerkrankungen.
        p die Ziele sollen vor allem durch regelmäßige Sitzungen, durch Symposien sowie durch die Organisation von Workshops erreicht werden. Es besteht eine enge Kooperation mit der Deutschen und Schweizerischen Gesellschaft für Angiologie.
    
        #statuten-download-button 
            a.download-button(href="/oegia_statuten.pdf" target="_blank") Download<br>Statuten