main
    padding-top 100px
    padding-bottom 600px

/*====================================================================
Including other components
====================================================================*/
@import 'links/links.styl'