//- extends ../termine/internationaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/lyon.webp" alt="Banner Image for EAS, showing Lyon.")
block title
    | European Atherosclerosis Society (EAS) 92nd Congress
block location
    | Lyon, France
block time
    | 26–29 May 2024
block website 
    a(href="https://eas-congress.com/2024/" target="_blank") www.eas-congress.com
block flyer 
    a.download-button(href="https://eas-congress.com/2024/congress/general-information/" target="_blank") Information
