//- extends ../termine/internationaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/iua-course-2022-banner.jpg" alt="IUA Course Banner")
block title
    | 9th IUA Course for Young Vascular Specialists
block location
    | Prague
block time
    | 13–17 July 2022
block website 
    a(href="https://www.iua-course.org/" target="_blank") www.iua-course.org
block flyer 
    a.download-button(href="/iua_course_2022.pdf" target="_blank") Download Flyer 
