extends vergangenes-webinar-base.pug

block picture 
    img(src="/img/banner-termin-esvm-2022.jpg" alt="Kongress Banner")
block title
    | Optimierung der Gefäßintervention mit neuen Therapieoptionen
block time
    | Donnerstag, 9. Dezember 2021, 17:30–19:00 Uhr CET
block flyer 
    a.download-button(href="/flyer-webinar-dez-9-21.pdf" target="_blank") Download Flyer 
