//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/bergamo.webp" alt="Banner ESVM in Bergamo")
block title
    | X Congress of the <br>European Society of Vascular Medicine
block location
    | Centro Congressi Giovanni XXIII, Bergamo

    p.added-info With reference to the X ESVM Congress 2025 we are glad to inform you that the <b>deadline for abstract submission has been postponed</b>.
    p.added-info <b>NEW DEADLINE 15th FEBRUARY</b>
block time
    | April 3 - 5, 2025
block website 
    a(href="https://esvm-congress.org/" target="_blank") www.esvm-congress.org
block flyer 
    a.download-button(href="https://esvm-congress.org/registration/" target="_blank") Register 
