//- extends ../termine/internationaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/euro-thrombosis-2022.jpg" alt="Euro Thrombosis Banner")
block title
    | EuroThrombosis & EuroVessels 2022
block location
    | Lisbon
block time
    | 20-22 October 2022
block website 
    a(href="https://etev2022.com/" target="_blank") etev2022.com
block flyer 
    a.download-button(href="/euro_thrombosis_2022.png" target="_blank") Download Flyer 
