//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/potsdam_1920_71.webp" alt="Angiologische Sommerakademie Banner")
block title
    | Angiologische Sommerakademie 2024
block location
    | AMERON Berlin<br> ABION Spreebogen Waterside Hotel
block time
    | 7. + 8. Juni 2024
block website 
    a(href="https://www.medpoint-gmbh.de/angiologische-sommerakademie-2024" target="_blank") Registrierung: www.medpoint-gmbh.de/angiologische-sommerakademie-2024
block flyer 
    a.download-button(href="/sommerakademie_2024.pdf" target="_blank") Download Flyer 
