//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/leipzig.webp" alt="Banner 10. DGA-Interventionskongress")
block title
    | 55. Jahrestagung der Deutschen Gesellschaft für Angiologie(DGA) <br><br>
    | 10. DGA-Interventionskongress
block location
    | KONGRESSHALLE am Zoo, Leipzig
block time
    | 15.-17. Oktober 2026
block website 
    a(href="https://www.angiologie-kongress.de/" target="_blank") www.angiologie-kongress.de
block flyer 
    a.download-button(href="/dga_kongress_2026.pdf" target="_blank") Download Flyer 
