//- extends ../termine/internationaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/dga-summer-school.jpg" alt="DGA Summer School Banner")
block title
    | 10. Vaskuläre Summer School des Forums Junge Angiologen
block location
    | Collegium Glashütten, Taunus
block time
    | 23.–25. Juni 2023
block website 
    a(href="https://www.junge-angiologen.de/veranstaltungen/vaskulaere-summer-school.html" target="_blank") www.junge-angiologen.de
block flyer 
    a.download-button(href="/dga_summer_school_2023.pdf" target="_blank") Download Flyer 
