//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/bologna.webp" alt="EuroThrombosis and EuroVessels 2024 Banner")
block title
    | EuroThrombosis and EuroVessels 2024
block location
    | Royal Carlton Hotel, Bologna
block time
    | October 10 - 12
block website 
    a(href="https://www.escardio.org/Congresses-Events/Working-group-events/Eurothrombosis" target="_blank") www.escardio.org/Eurothrombosis
block flyer 
    a.download-button(href="/eurothrombosis_2024.pdf" target="_blank") Download Flyer 



