section#international
    h2 Internationale Kongresse
    #internationale-termine.termine
        //- p.no-content Noch keine Einträge vorhanden.

        include internationaler-termin1.pug
        include internationaler-termin2.pug
        include internationaler-termin3.pug
        include internationaler-termin4.pug
        include internationaler-termin5.pug
