//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/amsterdam.webp" alt="AMP Europe Banner")
block title
    | AMP europe 2025<br> Amputation Prevention Symposium
block location
    | Amsterdam Marriott Hotel, Amsterdam
block time
    | October 13 - 15
block website 
    a(href="https://www.hmpglobalevents.com/ampeurope" target="_blank") www.hmpglobalevents.com
block flyer 
    a.download-button(href="/amp_europe_2025.jpg" target="_blank") Download Flyer 
