//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/toulouse.webp" alt="Banner ESVM in Toulouse")
block title
    | The 2026 ESVM Academy 
block location
    | Centre de Congrès Pierre Baudis, Toulouse
    //- p.added-info Abstract submission deadline is <b>15th December 2025</b>.
block time
    | June 4 - 6, 2026
block website 
    a(href="https://srv2.key4events.com/key4register/" target="_blank") key4events.com/esvm-academy-2026
block flyer 
    //- a.download-button(href="/esvm_2026.pdf" target="_blank") Download Flyer 
    a.download-button(href="https://srv2.key4events.com/key4register/content.aspx?e=492&c=2645" target="_blank") Register 
