//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/krakow.webp" alt="Expert PE Conference Banner")
block title
    | Expert PE Conference 2025
block location
    | Auditorium Maximum, Krakow
block time
    | November 21 - 22
block website 
    a(href="https://www.expert-pe.org/" target="_blank") www.expert-pe.org
block flyer 
    a.registration-button(href="https://www.bureau-prevents.nl/expert2025/" target="_blank") Register 