//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/hamburg.webp" alt="Banner Hamburger Gefaesstag")
block title
    | 15. Hamburger Gefässtag
block location
    | Panoramadeck im Emporio Tower, Hamburg
block time
    | Samstag, 2. Dezember 2023
block website 
    a(href="https://gefaesstage-hh.de/" target="_blank") www.gefaesstage-hh.de
block flyer 
    a.download-button(href="/hh_gefaesstag_2023.pdf" target="_blank") Download Flyer 
