//- extends ../termine/internationaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/dga-summer-school.jpg" alt="DGA Summer School Banner")
block title
    | 11. Vaskuläre Summer School des Forums Junge Angiologen
block location
    | Collegium Glashütten, Taunus
block time
    | 13.–15. Juni 2025
block website 
    a(href="https://www.dga-gefaessmedizin.de/veranstaltungen/vaskulaere-summer-school" target="_blank") www.dga-gefaessmedizin.de
block flyer 
    a.download-button(href="/dga_summer_school_2025.pdf" target="_blank") Download Flyer 
