//- extends ../termine/internationaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/ddg-herbsttagung.jpg" alt="Deutsche Diabetis Gesellschaft Herbsttagung Banner")
block title
    | Diabetologie & Angiologie - auf einem Bein kann man nicht stehen
block location
    | RheinMain CongressCenter, Wiesbaden
block time
    | 24-26 November 2022
block website 
    a(href="https://herbsttagung-ddg.de/" target="_blank") herbsttagung-ddg.de
block flyer 
    a.download-button(href="/ddg_herbsttagung.png" target="_blank") Download Flyer 
