//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/madrid.webp" alt="ESC Congress Banner")
block title
    | ESC Congress 2025
block location
    | IFEMA Madrid
block time
    | August 29 - September 1
block website 
    a(href="https://www.escardio.org/Congresses-Events/ESC-Congress" target="_blank") www.escardio.org/esc-congress
block flyer 
    a.download-button(href="https://esc365.escardio.org/ESC-Congress" target="_blank") Information
    a.registration-button(href="https://www.escardio.org/Congresses-Events/ESC-Congress/Registration" target="_blank") Register
