section#international
    h2 Internationale Kongresse
    #internationale-termine.termine
        //- p.no-content Keine Einträge vorhanden.

        include internationaler-termin21.pug
        include internationaler-termin22.pug
        include internationaler-termin19.pug
        include internationaler-termin23.pug
        include internationaler-termin20.pug
        
        .passed: include internationaler-termin18.pug 

        //- .passed: include internationaler-termin15.pug
        //- .passed: include internationaler-termin16.pug
        //- .passed: include internationaler-termin11.pug
        //- .passed: include internationaler-termin14.pug
        //- .passed: include internationaler-termin9.pug
        //- .passed: include internationaler-termin8.pug
        //- .passed: include internationaler-termin7.pug
        //- .passed: include internationaler-termin6.pug
        //- .passed: include internationaler-termin2.pug
        //- .passed: include internationaler-termin5.pug
        //- .passed: include internationaler-termin4.pug
        //- .passed: include internationaler-termin3.pug
        //- .passed: include internationaler-termin1.pug
