//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/leipzig.webp" alt="Angiologische Sommerakademie Banner")
block title
    | 53. Jahrestagung der Deutschen Gesellschaft für Angiologie(DGA) <br><br>
    | 8. DGA-Interventionskongress
block location
    | KONGRESSHALLE am Zoo, Leipzig
block time
    | 19.-21. September 2024
block website 
    a(href="https://www.angiologie-kongress.de/" target="_blank") www.angiologie-kongress.de
block flyer 
    a.download-button(href="/dga_kongress_2024.pdf" target="_blank") Download Flyer 
