.internationaler-termin-entry
    .internationaler-termin-picture
        block picture
    .internationaler-termin-details
        .left-block
            h2 
                block title
            p.time
                block time
        .flyer
            block flyer
    h3 Aufzeichnungen
    .internationaler-termin-videos
        block videos
