//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/mainz.webp" alt="Expert PE Conference Banner")
block title
    | Expert PE Conference 2024
block location
    | Kurfürstliches Schloss, Mainz
block time
    | October 18 - 19
block website 
    a(href="https://www.expert-pe.org/" target="_blank") www.expert-pe.org
block flyer 
    //- a.download-button(href="https://www.bureau-prevents.nl/expert2024/" target="_blank") Register 
    a.registration-button(href="https://www.bureau-prevents.nl/expert2024/" target="_blank") Register 