//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/lousanne.webp" alt="Banner ESVM in Lousanne")
block title
    | XI Congress of the <br>European Society of Vascular Medicine
block location
    | Fondation Olympique pour la Culture et le Patrimoine, Lousanne
    //- p.added-info Abstract submission deadline is <b>15th December 2025</b>.
block time
    | April 16 - 18, 2026
block website 
    a(href="https://esvm-congress.org/" target="_blank") www.esvm-congress.org
block flyer 
    a.download-button(href="/esvm_2026.pdf" target="_blank") Download Flyer 
    a.download-button(href="https://register.event-works.com/lausanne/ESVM_2026/e/lk/k/" target="_blank") Register 
