section#international
    h2 Internationale Kongresse
    #internationale-termine.termine
        //- p.no-content Noch keine Einträge vorhanden.


        include internationaler-termin10.pug
        include internationaler-termin13.pug
        include internationaler-termin12.pug
        include internationaler-termin11.pug
        .passed: include internationaler-termin9.pug
        //- .passed: include internationaler-termin8.pug
        //- .passed: include internationaler-termin7.pug
        //- .passed: include internationaler-termin6.pug
        //- .passed: include internationaler-termin2.pug
        //- .passed: include internationaler-termin5.pug
        //- .passed: include internationaler-termin4.pug
        //- .passed: include internationaler-termin3.pug
        //- .passed: include internationaler-termin1.pug
