//- extends ../termine/internationaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/banner-termin-esvm-2022.jpg" alt="Kongress Banner")
block title
    | VIII Congress of the European Society of Vascular Medicine
block location
    | Stockholm
block time
    | 6-8 October 2022
block website 
    a(href="https://www.vascular-medicine.org/" target="_blank") www.vascular-medicine.org
block flyer 
    a.download-button(href="/esvm_2022.pdf" target="_blank") Download Flyer 
