.internationaler-termin-entry
    .internationaler-termin-picture
        block picture
    .internationaler-termin-details
        .left-block
            h2 
                block title
            h3.location
                block location
            p.time 
                block time 
            p.website 
                block website
        .flyer
            block flyer