//- extends ../termine/lokaler-termin-base.pug
extends ../termine/termin-base.pug

block picture 
    img(src="/img/potsdam_1920_71.webp" alt="Angiologische Sommerakademie Banner")
block title
    | Angiologische Sommerakademie 2023
block location
    | Tagungs- und Konferenzzentrum Ernst von Bergmann, Potsdam
block time
    | 23.-24. Juni 2023
block website 
    a(href="https://www.vascular-summer-academy.info" target="_blank") www.vascular-summer-academy.info
block flyer 
    a.download-button(href="/sommerakademie_2023.pdf" target="_blank") Download Flyer 
