section#preise
    .max-content
        h1 Preise
        .preise-intro Die Vergabe der Preise ist nur durch die großzügige Unterstützung von Förderern möglich. 

        .preis-card
            h2 Preise 2024

            ul
                li Best Paper: <b>Dr. Gerfried Pesau</b> , Klin. Abteilung Angiologie, MUW
                li Best Project: <b>Dr.in Maria Noflatscher</b>, PhD, Univ. Klinik Innere Medizin III Kardiologie&Angiologie, MUI

        .preis-card
            h2 Best Paper/Abstract 2023

            ul
                li Der 1. Preis: Günther Silbernagel. 
                li Der 2. Preis: Clemens Höbaus.
                li Der 3. Preis: Bernhard Zierfuss. 
 
            p.preis-sponsor Die Preise wurden von <b><a href="https://www.novartis.com/at-de/" target="_blank">Novartis Pharma GmbH</a></b> gestiftet. 

 
